.editorContainer{
    margin: 1rem    ;
}

.toolContainer{
    background-color: #edf2fa;
    border: none;
    border-radius: 24px;
    /* margin: 6px 16px 8px 16px; */
    margin-top: 16px;
    margin-bottom: 16px;
    min-height: 45px;
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    gap: .3rem;
    position: relative;
}
.editorTextContainer{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(153, 153, 153)!important;
    overflow-y: scroll;
    height: 83vh;
}


/* width */
.editorTextContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .editorTextContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .editorTextContainer::-webkit-scrollbar-thumb {
    background: #dadce0;
    border-radius: 24px;

  }

.editorText{
    border: 1px solid rgb(153, 153, 153)!important;
    padding: 1rem;
    width: 60vw;
    background-color: white;
    margin-top: 2rem;
    height: 100vh;


}

.editorText:focus{
   outline: none;
}